.Trash-0
.ipynb_checkpoints
.virtual_documents
calibrationJupyterBook/_build/templates
calibrationJupyterBook/_build/template
calibrationJupyterBook/CalibrationManawan/ReferencesAndData/NFI_Data
find * -size +100M