affine
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
click-plugins
cligj
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
GDAL==3.8.4
geopandas
h11
httpcore
httpx
idna
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow
pycparser
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
rasterio
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
shapely
six
sniffio
snuggs
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client

# Other requirements to use the functions of PAVICS/Ouranos for Canadian Climate data
siphon
xarray
clisops
dask
numba
xclim
pathlib
bokeh
cartopy
hvplot
panel
xscen
rioxarray
xesmf
folium
pygam
suncalc

# Package to access ESGF data
intake-esgf
ipywidgets